{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
    <div class="products">
        {% for coffee in products %}
        <div class="product-box">
            <div class="product-box-heading">
                <h3>potato</h3>
            </div>
            <p class = "product-box-info">Definitely created in New Zealand (not in the West Island) - a classic. </p>
            <img src="static/images/{{  coffee[3] }}.jpg">
            <p><strong>Size:</strong> 180ml</p>
            <p><strong>: $4.00</strong></p>
        </div>

        <div class="product-box">
            <h3 class="product-box-heading"> Latte</h3>
            <p class = "product-box-info">The New Zealand latte is larger than a flat white and had more foamy milk.</p>
            <img src="static/images/latte.jpg">
            <p><strong>Size:</strong> 240ml</p>
            <p><strong>Price:</strong> $4.00</p>
        </div>
    </div>
{% endblock %}